p, span{
  padding: 0 !important;
  margin: 0 !important;
}

.badge-refuse{
  background-color: #e36259 !important;
  color: white !important;
}
.badge-attente{
  background-color: #D39E00 !important;
  color: white !important;
}
.badge-accepte{
  background-color: #36A745 !important;
  color: white !important;
}
